.button {
  text-decoration: none;
  font-size: 25px;
  color: #989797;
  border: none;
  background-color: white;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #1565c0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  outline: none;
}
